$primary:    #6610f2;
$secondary:  #ffff00;
$success:    #7effd8;
$info:       #085833;
$warning:    #f397c5;
$danger:     #8d0512;
$light:      #9eedfc;
$dark:       #003743;
@import './node_modules/bootstrap/scss/bootstrap.scss';